
GeneradorXaml/GeneradorXaml/obj/Debug/GeneradorXaml_MarkupCompile.i.lref
GeneradorXaml/GeneradorXaml/obj/Debug/GeneradorXaml_MarkupCompile.i.cache
GeneradorXaml/GeneradorXaml/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GeneradorXaml/.vs/GeneradorXaml/v14/.suo
GeneradorXaml/GeneradorXaml/obj/Debug/GeneradorXaml_MarkupCompile.i.lref
GeneradorXaml/GeneradorXaml/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GeneradorXaml/GeneradorXaml/obj/Debug/GeneradorXaml_MarkupCompile.i.lref
GeneradorXaml/.vs/GeneradorXaml/v14/.suo
